.results__word-play--btn {
  padding: 1.6rem;
  border-radius: 50px;
  border: none;
  background-color: $color-gray-light;
  box-shadow: 2px 3px 12px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  cursor: pointer;

  &-icon {
    font-size: 3.2rem;
    color: $secondary-color--light;
  }

  &:hover {
    box-shadow: none;
  }
}
