/* 

--- 01 TYPOGRAPHY SYSTEM

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font weights:
Defaults: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 
Small: 
medius: 
Paragraph default: 

- Letter spacing

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  color: $secondary-color;
  // background-color: #e6eef0;
}

html {
  font-size: 62.5%;
}

.results__word--heading {
  h1 {
    font-size: 6.2rem;
    font-weight: 600;
  }

  p {
    font-size: 2.4rem;
    color: $secondary-color--light;
    font-weight: 300;
  }
}
